<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>City Explorer</title>
<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/custom.css">

</head>
<body>
	<header th:replace="~{common::header}"></header>

	<div id="mainContent" class="container-fluid">
		<section class="citydetail">
			<section class="citybox">
				<h3 th:text="${city.name}"></h3>
				<div class="cityinfos">
					<p th:text="${city.summary}" class="summary"></p>
					<div class="btn-group citylike" role="group">

					</div>
				</div>
				<div class="cityspotlights">
					<div class="btn-group" role="group">
						<a class="btn btn-restaurant" title="Where to eat?">
							<i class="fa fa-cutlery" aria-hidden="true"></i>
						</a>
						<a class="btn btn-bar" title="Where to drink?">
							<i class="fa fa-glass" aria-hidden="true"></i>
						</a>
						<a class="btn btn-music" title="Where to listen to music?">
							<i class="fa fa-music" aria-hidden="true"></i>
						</a>
						<a class="btn btn-culture" title="Where to visit?">
							<i class="fa fa-book" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<aside class="cityPhoto">
					<img src="img/city-no-photo.png" alt="Vignette Londres">
				</aside>
			</section>
		</section>
	</div>
</body>
</html>