<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>City Explorer</title>
<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/custom.css">

</head>
<body>
	<header th:replace="~{common::header}"></header>

	<div id="mainContent" class="container-fluid">
		<section class="citylist">
			<article class="citybox" th:each="city : ${cities}">
				<h3 th:text="${city.name}"></h3>
				<p th:text="${city.summary}" class="summary"></p>
				<div class="btn-toolbar actionbar" role="toolbar">
					<div class="btn-group" role="group">
						<a th:href="'detail?id='+${city.id}" class="btn btn-primary"><i class="fa fa-eye"
							aria-hidden="true"></i> See details</a>
					</div>
				</div>
				<aside class="cityPhoto">
					<img src="img/city-no-photo.png" alt="Vignette Londres">
				</aside>
			</article>
		</section>
	</div>
</body>
</html>